# Tutorlix .env example

# Django
SECRET_KEY=django-insecure-something
DEBUG=True
ALLOWED_HOSTS=localhost,back.tutorlix.com,dev.tutorlix.com,127.0.0.1,tutorlix.com,backend-prod

# Razorpay
RAZORPAY_SECRET_ID=rzp_test_something
RAZORPAY_SECRET_KEY=something
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

# Groq
GROQ_API_KEY=gsk_your_key_here
GROQ_MODEL=llama-3.3-70b-versatile
OPENAI_API_KEY=redtfhgj

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=yourpassword
EMAIL_USE_TLS=True

# Frontend
FRONTEND_URL=https://tutorlix.com
