torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
TTS==0.22.0
moviepy
opencv-python
ffmpeg-python
imageio
imageio-ffmpeg
librosa
numpy
gradio
transformers==4.36.2
onnxruntime-gpu
onnx
tyro
pykalman
einops
accelerate
requests
python-dotenv
apscheduler
pytz
Pillow
schedule
